* {
  background-color: #ee1d25;
  color: #ffffff;
  text-align: center;
}

button {
  background-color: #eceaea;
  color: #ee1d25;
  border: #931216 solid 2px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
}

.output {
  font-size: 30px;
  font-weight: bold;
}

.btn_container {
  margin: 20px;
}
